[submodule "lib/socket.io"]
	path = lib/socket.io
	url = git://github.com/LearnBoost/Socket.IO-node.git

[submodule "connect"]
	path = connect
	url = git://github.com/senchalabs/connect.git
[submodule "daemon.node"]
	path = daemon.node
	url = git://github.com/Slashed/daemon.node.git
